/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
}
.sub-title {
  font-size: 0.74rem;
  opacity: 0.5;
  margin-bottom: 10px;
  white-space: nowrap;
}
input[type="button"] {
  color: #fff;
  background-color: #28a745;
  width: 60px;
  margin: auto;
  border-style: none;
  height: 30px;
}
input:disabled {
  background-color: #cccccc;
  color: #666666;
}
